[package]
name = "starknet_api"
version = "0.6.0-rc0"
edition = "2021"
repository = "https://github.com/starkware-libs/starknet-api"
license = "Apache-2.0"
license-file = "LICENSE"
description = "Starknet Rust types related to computation and execution."

[features]
testing = []

[dependencies]
cairo-lang-starknet = "2.1.0-rc0"
derive_more = "0.99.17"
# TODO(Gilad): Remove `genco` dep once the issue with its 0.17.7 release
# is fixed, or no longer a dependency of cairo-lang-starknet.
genco = "=0.17.6"
hex = "0.4.3"
indexmap = { version = "1.9.2", features = ["serde"] }
once_cell = "1.17.1"
primitive-types = { version = "0.12.1", features = ["serde"] }
serde = { version = "1.0.130", features = ["derive", "rc"] }
serde_json = "1.0.81"
starknet-crypto = "0.5.1"
strum = "0.24.1"
strum_macros = "0.24.3"
thiserror = "1.0.31"

[dev-dependencies]
assert_matches = "1.5.0"
