name: CI

on:
  push:
    branches: [main]
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
    - auto_merge_enabled
    branches: [main]
  merge_group:
      types: [checks_requested]

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Rust Toolchain Setup
      run: rustup show
    - uses: Swatinem/rust-cache@v1
    - name: Check format
      run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Rust Toolchain Setup
      run: rustup show
    - uses: Swatinem/rust-cache@v1
    - name: Check format
      run: cargo clippy --all-targets --all-features

  run-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Rust Toolchain Setup
      run: rustup show
    - uses: Swatinem/rust-cache@v1
    - run: pip install cairo-lang; cargo test -- --include-ignored

  udeps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        name: "Rust Toolchain Setup"
        with:
          toolchain: nightly-2023-07-05
      - uses: Swatinem/rust-cache@v2
      - name: "Download and run cargo-udeps"
        run: |
          wget -O - -c https://github.com/est31/cargo-udeps/releases/download/v0.1.35/cargo-udeps-v0.1.35-x86_64-unknown-linux-gnu.tar.gz | tar -xz
          cargo-udeps-*/cargo-udeps udeps
        env:
          RUSTUP_TOOLCHAIN: nightly-2023-07-05

  doc:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -D warnings
    steps:
    - uses: actions/checkout@v2
    - name: Rust Toolchain Setup
      run: rustup show
    - uses: Swatinem/rust-cache@v2
    - run: cargo doc --document-private-items --no-deps
